.nominations-container{
    margin-top: 10px;
    background-color: #DD7373;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.nominations-listgroup{
    padding: 5em;
}

.nominations-listgroupitem{
    border-radius: 5px;
}